{% extends 'layout/page.html' %}

{% block content %}
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.added }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No products found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}